# Pandas - My Ref

In [2]:
%matplotlib inline

from IPython.core.display import HTML
from IPython.display import Image
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

### Libraries

In [3]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import pandas_datareader.data as web
import datetime
import StringIO

sns.set(style="ticks", color_codes=True)
sns.set_context("notebook")

In [4]:
# Creating requests cache. This will store data locally and reuse it.
import requests_cache
expire_after = datetime.timedelta(days=1)
session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expire_after)

### Read CSVs

In [5]:
# Read from file
df1 = pd.read_csv('data/cars.csv')
df1.head()
df1.index
df1.columns

# Some Index attributres
df1.index.is_categorical
df1.index.is_all_dates
df1.index.is_monotonic_increasing
df1.index.has_duplicates
df1.index.drop_duplicates
df1.index.nlevels

# Some Index functions
df1.index.values
df1.index.equals(0)
df1.index.min()
df1.index.max()
df1.index.nunique() # Number of unique labels

df1.describe()

,mpg,cyl,disp,hp,wt,speed,wt.1
count,398.000000,406.000000,406.000000,400.000000,406.000000,406.000000,406.000000
mean,23.514573,5.475369,194.779557,105.082500,2979.413793,15.519704,75.921182
std,7.815984,1.712160,104.922458,38.768779,847.004328,2.803359,3.748737
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,105.000000,75.750000,2226.500000,13.700000,73.000000
50%,23.000000,4.000000,151.000000,95.000000,2822.500000,15.500000,76.000000
75%,29.000000,8.000000,302.000000,130.000000,3618.250000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [6]:

# Read from file with more args
df2 = pd.read_csv('data/cars.csv', index_col=0, header=0, comment='#',
                  quotechar="'", sep=",", 
                  na_values='[‘na’, ‘-‘, ‘.’, ‘’]')
df2.head()

# Read from String
data1 = 'a,b,c\n1,2,3\n4,5,6\n7,8,9'
rownum=0
df3 = pd.read_csv(StringIO.StringIO(data1), header=rownum)
print(df3)

# Name columns
df3 = pd.read_csv(StringIO.StringIO(data1), header=rownum, skipinitialspace=True, names=['foo', 'bar', 'baz'])
print(df3)

# Filter columms
df3 = pd.read_csv(StringIO.StringIO(data1), header=rownum, usecols=['a','b'])
print(df3)

# Index Column is False
df3 = pd.read_csv(StringIO.StringIO(data1), header=rownum, index_col=False)
print(df3)

df3.info

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
   foo  bar  baz
0    1    2    3
1    4    5    6
2    7    8    9
   a  b
0  1  2
1  4  5
2  7  8
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

<bound method DataFrame.info of    a  b  c
0  1  2  3
1  4  5  6
2  7  8  9>

In [7]:
# Read timeseries data
# To parse a date column
df4 = pd.read_csv('data/cpuutilization-4hrs.txt', parse_dates=[1], names=['utilization', 'date', 'value'])
print(df4.head())

# To specify a date column as index
df4 = pd.read_csv('data/cpuutilization-4hrs.txt', index_col=1, parse_dates=True, names=['utilization', 'value'])
print(df4.head())

# To specify thousands
df4 = pd.read_csv('data/cpuutilization-4hrs.txt', thousands=",", sep=",", index_col=1, parse_dates=True, names=['utilization', 'value'])
df4.head()

# To skip NA
df4 = pd.read_csv('data/cpuutilization-4hrs.txt', keep_default_na=False, na_values=["NA", "0"],  index_col=1, parse_dates=True, names=['utilization', 'value'])
df4.head()

# To skip Bad Lines
#df4 = pd.read_csv('data/cpuutilization-4hrs.txt',  error_bad_lines=False,  index_col=1, parse_dates=True, names=['utilization', 'value'])
#df4.head()

                                         utilization                date  \
0  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd... 2016-07-20 14:08:00
1  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd... 2016-07-20 14:09:00
2  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd... 2016-07-20 14:10:00
3  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd... 2016-07-20 14:11:00
4  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd... 2016-07-20 14:12:00

   value
0      0
1      0
2      0
3      0
4      1
                                                           utilization  value
2016-07-20 14:08:00  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd...      0
2016-07-20 14:09:00  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd...      0
2016-07-20 14:10:00  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd...      0
2016-07-20 14:11:00  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd...      0
2016-07-20 14:12:00  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd...      1

                                                           utilization value
2016-07-20 14:08:00  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd...   NaN
2016-07-20 14:09:00  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd...   NaN
2016-07-20 14:10:00  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd...   NaN
2016-07-20 14:11:00  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd...   NaN
2016-07-20 14:12:00  servers.USX_0a47a73f-52ae-34f4-824f-b04b3730fd...   1.0

### Read from Excel or Database

<hr>
*** Read from Excel ***

Note: Each Excel sheet in a Python dictionary
<pre><code> 
workbook = pd.ExcelFile('file.xlsx')
dictionary = {}
for sheet_name in workbook.sheet_names:
  df = workbook.parse(sheet_name)
  dictionary[sheet_name] = df
</code></pre>
<hr />


<hr>
*** Read from Database ***
<pre><code>
import pymysql
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://'+'USER:PASSWORD@localhost/DATABASE')
df = pd.read_sql_table('table', engine)
</code></pre>
<hr/>

<hr>
*** Read from Python Dictionary ***
<pre><code>
df = pd.DataFrame.from_dict({ # data by row
'row0' : {'col0':0, 'col1':'A'},
'row1' : {'col0':1, 'col1':'B'}}, orient='index')
</code></pre>
<hr/>

### Create Fake Data

In [8]:
##### --- simple
df = pd.DataFrame(np.random.rand(50,5)) #rand(rows, columns)
df = pd.DataFrame(np.random.randint(100,size=(20,5))) # size = (rows, columns)
df.columns = list("abcde")

# default --- assume data is in columns
df1 = pd.DataFrame({
'col0' : [1.0, 2.0, 3.0, 4.0],
'col1' : [100, 200, 300, 400]
})

# With dates as index
dfl = pd.DataFrame(np.random.randn(5,4), columns=list('ABCD'), index=pd.date_range('20130101',periods=5))

dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

# --- with a time-stamp row index:
df1 = pd.DataFrame(np.random.rand(500,7))
df1.index = pd.date_range('1/1/2016', periods=len(df1), freq='M')
df1.tail()

,0,1,2,3,4,5,6
2057-04-30,0.757883,0.875839,0.240241,0.989174,0.486067,0.981855,0.511982
2057-05-31,0.726728,0.232886,0.160060,0.713340,0.045617,0.876173,0.202261
2057-06-30,0.322168,0.017408,0.226754,0.960386,0.784413,0.541765,0.279645
2057-07-31,0.182820,0.030673,0.783129,0.302532,0.274288,0.407843,0.891340
2057-08-31,0.115351,0.845965,0.700781,0.621288,0.332894,0.785706,0.342617

### Working with Whole DataFrame

In [9]:
#Peek at the DataFrame contents
df1 = pd.DataFrame.from_dict({ # data by row
'row0' : {'col0':0, 'col1':'A'},
'row1' : {'col0':1, 'col1':'B'}}, orient='index')

print(df1)
#df1.info() # index & data types

n = 4
dfh = df1.head(n) # get first n rows
dft = df1.tail(n) # get last n rows
dfs = df1.describe() # summary stats cols

top_left_corner_df = df1.iloc[:5, :5]

#DataFrame non-indexing attributes
dfT = df1.T # transpose rows and cols
l = df1.axes # list row and col indexes
(r, c) = df1.axes # tuple of axes

s = df1.dtypes # Series column data types
b = df1.empty # True for empty DataFrame
i = df1.ndim # number of axes (2)
t = df1.shape # (row-count, column-count)
(r, c) = df1.shape # from above

i = df1.size # row-count * column-count
a = df1.values # get a numpy array for df

#DataFrame utility methods
dfc = df1.copy() # copy a DataFrame
dfr = df1.rank() # rank each col (default)
dfs = df1.sort_index() # sort each col (default)

#DataFrame.sort_index(axis=0, level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, by=None)¶
#DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')
dfss = df1.sort_values(by=['col1'])

#DataFrame iteration methods
df1.iteritems()# (col-index, Series) pairs
df1.iterrows() # (row-index, Series) pairs

# example ... iterating over columns
print("\n")
for (name, series) in df1.iteritems():
  print('Col name: ' + str(name))
  print('First value: ' + str(series.iat[0]) + '\n')

#Maths on the whole DataFrame (not a complete list)
df = df1.col0.abs() # absolute values
df = df1.col0.add(1) # add df, Series or value

df1 = pd.DataFrame(np.random.rand(50,5))

s = df1.count() # non NA/null values
df = df1.cummax() # (cols default axis)
df = df1.cummin() # (cols default axis)
df = df1.cumsum() # (cols default axis)
df = df1.cumprod() # (cols default axis)
df = df1.diff() # 1st diff (col def axis)
df = df1.div(0) # div by df, Series, value
#df = df1.dot(1) # matrix dot product
s = df1.max() # max of axis (col def)
s = df1.mean() # mean (col default axis)
s = df1.median()# median (col default)
s = df1.min() # min of axis (col def)
df = df1.mul(2) # mul by df Series val
s = df1.sum() # sum axis (cols default)

df1.describe()

#DataFrame filter/select rows or cols on label info
df1 = pd.DataFrame(np.random.rand(50,5))
df1.columns = list("abcde")
df = df1.filter(items=['a', 'b']) # by col
df = df1.filter(items=[5], axis=0) #by row
df = df1.filter(like='x') # keep x in col
df = df1.filter(regex='x') # regex in col
df = df1.select(crit=(lambda x: x<0.2))#r

print(df1.head())
df.head(3)

      col0 col1
row0     0    A
row1     1    B


Col name: col0
First value: 0

Col name: col1
First value: A

          a         b         c         d         e
0  0.887636  0.319901  0.731003  0.383430  0.367942
1  0.802908  0.841382  0.602412  0.418026  0.298831
2  0.869382  0.327278  0.921687  0.939713  0.324064
3  0.974048  0.685072  0.388832  0.785960  0.471893
4  0.136876  0.656322  0.412487  0.864101  0.731966

          a         b         c        d         e
0  0.887636  0.319901  0.731003  0.38343  0.367942

### Saving a DataFrame

<pre><code>
#Saving a DataFrame to a CSV file
df1.to_csv('name.csv', encoding='utf-8')

#Saving DataFrames to an Excel Workbook
from pandas import ExcelWriter
writer = ExcelWriter('filename.xlsx')
df1.to_excel(writer,'Sheet1')
df2.to_excel(writer,'Sheet2')
writer.save()

#Saving a DataFrame to MySQL
import pymysql
from sqlalchemy import create_engine
e = create_engine('mysql+pymysql://' + 'USER:PASSWORD@localhost/DATABASE') 
df.to_sql('TABLE',e, if_exists='replace')

#Saving a DataFrame to a Python dictionary
dictionary = df.to_dict()

#Saving a DataFrame to a Python string
string = df.to_string()
</code></pre>

### Working with Data Frame Columns

In [23]:
#df = pd.DataFrame(np.random.rand(50,5))
df = pd.DataFrame(np.random.randint(100,size=(20,5)))
df.columns = list("abcde")
print(df.head())

#Get column index and labels
idx = df.columns # get col index
label = df.columns[0] # 1st col label
lst = df.columns.tolist() # get as a list

# Change column labels
df1 = df.rename(columns={'a':'A','b':'x'}) #returns a copy.
type(df)

#Selecting columns
colname='a'
s = df['a'] # select col to Series
df2 = df[['a']] # select col to df
df2 = df[['a','b']] # select 2 or more
df2 = df[['c','a','b']]# change order
s = df[df.columns[0]] # select by column number

df1 = pd.DataFrame(np.random.randint(10, size=(6,4)),index=list('abcdef'), columns=list('ABCD'))
df1[:3] # select first 3 rows
print(df1)

# Selection by index label
df1.loc['a':'b'] # Select all rows where index value = a to b
df1.loc[['a', 'b', 'd'], :] # Select all rows where index = a,b,d
df1.loc[['a', 'b', 'd'], ['A', 'B']] # Select all rows where index = a,b,d and columns = A,B
df1.loc['b':'d', 'A':'B'] # select rows = b-to-d and columns = A-to-B

# Selection by index position
df1.iloc[:3] # Select first 3 rows 
df1.iloc[1:5, 2:4] #Select rows 1-5 and columns 2-4
df1.iloc[[1, 3, 5], [1, 3]] #Select rows 1,3,5 and columns 1,3
df1.iloc[:, 1:3] # Select all rows but only columns 1-3

#df.columns.tolist()
#Selecting columns with Python attributes
s = df1.A # same as s = df['a']

# create new columns
df1['N1'] = df1.A + df1.B
df1['N2'] = range(len(df1))
df1['N3'] = np.repeat(np.nan,len(df1))
df1['N4'] = np.random.randint(5,len(df1))
df1['NI'] = df1.index

df1.head()

# Dropping columns (mostly by label)
df1 = df1.drop('N3', axis=1)
df1.drop('N4', axis=1, inplace=True)
df1 = df1.drop(['N2','NI'], axis=1)
s = df1.pop('N1') # drops from frame
#del df['col'] # even classic python works
#df1.drop(df1.columns[0], inplace=True)

# Change column values with WHERE
df3 = df.copy()
df3['b']=df3['a'].where(df3['a']>0,other=0)
df3['d']=df3['a'].where(df3.b!=0,other=df3.c)

df3.head()

# Change column values with LOC
# df3.loc[df3['a'] > 5] = 9 # change all values < 5 under column a, to value 9.

# Change column values with REPLACE
# df['columnname'] = df['columnname'].replace(['ABC', 'AB'], 'A') # Replace ABC and AB values to A

# Change column values with STR
# df['columname'] = df['columnname'].str.replace("columnvalue", "newvalue")

    a   b   c   d   e
0  39   0   5  99   3
1  64  35  41  19  15
2  23  82  59  82  91
3  23  46   5  63  32
4  64   0  14  26  80
   A  B  C  D
a  8  2  8  0
b  2  9  6  0
c  6  1  4  5
d  8  9  3  5
e  4  4  8  4
f  4  2  9  7

0     39
1     64
2     23
3     23
4     64
5     82
6     45
7     50
8     40
9      7
10    35
11    72
12    57
13    76
14    62
15    62
16    70
17    35
18    85
19    25
Name: a, dtype: int32

In [48]:
df4 = df3.head().copy()
df4.head()
#df4 = df4.reindex_axis(labels=list('ABCDE'), axis='columns')
df4.head()
#help(df4.replace)

    a   b   c   d   e
0  39  39   5  39   3
1  64  64  41  64  15
2   5   5   5   5   5
3   5   5   5   5   5
4  64  64  14  64  80

In [42]:
df4.loc[df4['a'] == 5] = 9
df3.head()

    a   b   c   d   e
0  39  39   5  39   3
1  64  64  41  64  15
2   5   5   5   5   5
3   5   5   5   5   5
4  64  64  14  64  80